{% extends "layout.html" %}
  
{% block content %}
  

 
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
         
          
        </div>
        <div class="col-lg-15 mt-5 order-lg-1">
          <div class="p-5">
            <h2 class="display-3">About Us</h2>
            <p>Some passionate american students from Texas worked for Red Hat for like a month or so and made this hopefully funcioning app. Thats all bye!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
